<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Add title</title>
</head>
<body>
    <div class="container">
        <h1 class="title has-text-centered">Add a Title</h1>
        <form class="box" action="">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Lord of the Rings" />
                </div>
            </div>

            <div class="field">
                <label class="label">Author</label>
                <div class="control">
                    <input class="input" type="text" placeholder="J. R. R. Tolkein" />
                </div>
            </div>
            <div class="field">
                <label class="label">Synopsis</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Synopsis here" rows="5">
                    </textarea>
                </div>
            </div>

            <button class="button is-primary">Add</button>
        </form>
        <form action="{{url_for('tracker')}}">
            <button class="button is-primary">Home</button>
        </form>
    </div>
</body>
</html>