<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <title>View Title</title>
</head>
<body>
    <h1>Reading List</h1>
    <ul>
        
    </ul>

    <a href="{{url_for('tracker')}}">
            <button class="button is-primary">Home</button>
        </a>
</body>
</html>